header.header {
    width: 100%;
    max-width: 100%;
    height: max(480px, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    font-size: 3rem;
    text-align: center;
    background-image: url('../../assets//Background.png');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header.header h1 {
    color: var(--title-color);
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap;
    border-right: .20em solid chartreuse; /* The typwriter cursor */
    animation: 
      typing 3s steps(40, end),
      cursor-blink .75s step-end infinite;
}

header.header strong {
    background-color: yellow;
}

header.header p {
    margin-top: 3rem;
    font-size: 2rem;
    max-width: 1100px;
    color: #d6cdcd;
}

header.header .links {
    margin-top: 50px;
    max-width: 720px;
}

header.header a {
    text-decoration: none;
    color: var(--icons-color);
    margin-right: 3vw;
}

header.header svg:hover {
    cursor: pointer;
    opacity: 0.8;
    color: var(--iconshouve-color);
}

header .scroll-button {
    position: absolute;
    bottom: 0;
    animation: button-scroll 0.75s infinite;
}

header .scroll-button button{
    background-color: transparent;
    border: none;
}

/* =================ANIMAÇÔES================= */
@keyframes typing {
    from { width: 0; }
    to { width: 60%; }
}

@keyframes cursor-blink {
    from, to { border-color: transparent; }
    50% { border-color: whitesmoke; }
}

@keyframes button-scroll {
    from { transform: translateY(0); }
    to { transform: translateY(-2vh); }
}

/* =================RESPONSIVIDADE================= */
@media screen and (max-width:1100px) {
    header.header {
        font-size: 2.7rem;
    }
}

@media screen and (max-width:700px) {
    header.header {
        font-size: 1.9rem;
    }

    header.header p {
        font-size: 1.7rem;
    }
}

@media screen and (max-width:480px) {
    header.header {
        font-size: 1.5rem;
    }

    header.header p {
        font-size: 1rem;
    }
}
