

/* ================================= TELAS ================================= */
.Container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.Descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    font-size: 20px;
}

/* TEXTOS */
.MeuNome {  
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 6rem;
    color: white;
}

.Descricao p {
    justify-content: center;
    margin-top: 10px;
    color: aliceblue;
    text-align: center;
}

h3 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 3rem;
    color: 	#8c1eff;
}

p {
    color: cornsilk;
}

/* ================================= TECNOLOGIAS ================================= */
.Techs {
    display: flex;
    flex-direction: row;
}
i {
    font-size: 60px;
    padding-left: 50px;
}

/* ================================= REPOSITORIOS ================================= */
.Repositorios {
    display: grid;

    width: 75%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 15px;
}
.Repositorios .ItemRepositorio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 300px;
    background-color:	#cb0c59;
}
.Repositorios .ItemRepositorio * :houve {
    cursor: pointer;
}
.Repositorios .ItemRepositorio p {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.Repositorios .ItemRepositorio p .Descricao {
    font-size: 15px;
}
.NomeRepositorio {
    font-size: 30px;
}

/* ================================= JOGOS ===================================== */
.Jogos {
    display: grid;
    width: 75%;
    flex-direction: column;


}
.Jogos .CardJogo {
    display: grid;
    height: 300px;

    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 30px;
}
.Jogos .CardJogo .Texto {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Jogos .CardJogo .TituloJogo{
    font-size: 40px;
    text-align: center;
}
.Jogos .CardJogo .Descricao {
    float: left;
    text-align: center;

}
.Jogos .CardJogo img {
    width: 400px;
    height: 250px;
    float: right;

    border-radius: 20px;
} 


/* ================================= OBJETOS ================================= */
.MinhaImagem {
    width: 300px;
    height: 300px;

    border: solid 10px;
    border-radius: 200px;
    border-color: #0abdc6;
}

/* ================================= RESPONSIVIDADE ================================= */
@media (max-width: 1000px) {

    p, spam, h1, h3 {
        font-size: 80%;
    }
    .Repositorios {
        grid-template-columns: 1fr 1fr;
    }
    .Jogos .CardJogo img {
        width: 250px;
        height: 300;
    }
}