
div .description {
    display: flex;
    height: 60vh;
    background-color: aqua;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div .description .description-image {
    display: flex;
    flex-direction: column;
}

div .description .description-image img {
    width: 40vh;
    height: 40vh;
    border: solid 10px;
    border-color: #cb0c59;
    border-radius: 25vh;
}

div .description .description-image p {
    margin-top: 3vh;
    font-size: 2rem;
    text-align: center;
}


div .description .description-text {
    font-size: 1.5rem;
    text-align: justify;
    width: 50vw;
}

div .games {
    margin-top: 10vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div .games section {
    margin: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div .games section div.games-box {
    width: 70vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 5vh;
}

div.games-text {
    width: 40%;
}
div .games section  div.games-box  div.games-text p.games-title {
    font-size: 2rem;
}

div .games section  div.games-box  div.games-text p.games-description {
    font-size: 1rem;
}

div .games section img {
    margin-top: 2vh;
    width: 25rem;
    height: 17rem;
    border-radius: 30px;
}