.Container {
    display: flex;
    background-color: #133e7c;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MeuNome {
    margin-top: 5%;
    font-size: 7rem;
    color: #133e7c;
}

.Descricao {
    text-align: center;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
}

.Descricao p {
    color: aliceblue;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}