div .games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: max(5vh, 50px);
}

div .games section {
    margin: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 25px;
}

div .games section div.games-box {
    background-color: var(--card-box-color);
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s;
}

div .games section div.games-box:hover {
    transform: scale(1.05, 1.05);
    box-shadow: yellow;
}

div .games h3 {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

div.games-text p {
    color: var(--cardtext-color);
    margin-top: 20px;
}

div.games section  div.games-box  div.games-text p.games-title {
    font-size: 1.7rem;
}

div.games section  div.games-box  div.games-text p.games-description {
    font-size: 1rem;
}

div .games section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

@media screen and (max-width:700px) {
    div .games section {
        grid-template-columns: 1fr;
    }
}