div.projects {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: max(5vh, 50px);
    margin-bottom: max(5vh, 50px);
}

div.projects section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 45px;
    column-gap: 30px;
    width: 90%;
}

div.projects section .projects-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.projects section .projects-info img {
    width: 100px;
    height: 100px;
}

div.projects section .projects-info p {
    font-size: 1.2rem;
}


@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px) {
    div.projects section {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
        column-gap: 10px;
    }
}