
div .description {
    display: flex;
    height: 60vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;

}

div .description .description-image {
    display: flex;
    flex-direction: column;
}

div .description .description-image img {
    width: 35vh;
    height: 35vh;
    border: solid 10px;
    border-color: #cb0c59;
    border-radius: 25vh;
}

div .description .description-image p {
    font-size: 1.8rem;
    text-align: center;
}

div .description .description-text {
    font-size: 1.5rem;
    text-align: justify;
    width: 50vw;
    max-width: 700px;
}

@media screen and (max-width:1000px) {
    div .description {
        height: max-content;
        flex-direction: column;
    }
    div .description .description-text {
        margin-top: 3vh;
        width: 90%;
    }
}

@media screen and (max-width:700px) {
    div .description {
        height: max-content;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}