
div .description {
    display: flex;
    height: 60vh;
    background-color: aqua;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div .description .description-image {
    display: flex;
    flex-direction: column;
}

div .description .description-image img {
    width: 40vh;
    height: 40vh;
    border: solid 10px;
    border-color: #cb0c59;
    border-radius: 25vh;
}

div .description .description-image p {
    margin-top: 3vh;
    font-size: 2rem;
    text-align: center;
}

div .description .description-text {
    font-size: 1.5rem;
    text-align: justify;
    width: 50vw;
}

@media screen and (max-width:1000px) {
    div .description {
        height: max-content;
        flex-direction: column;
    }
    div .description .description-text {
        margin-top: 3vh;
        width: 90%;
    }
}